html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  position: fixed;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

* {
  box-sizing: border-box;
  overscroll-behavior-x: none;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  position: relative;
  touch-action: pan-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-placeholder::placeholder{
  color: white !important; 
}
